src/main/webapp/WEB-INF/wsdl/santander-type-0.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://portal.sibscartoes.pt/wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://portal.sibscartoes.pt/wcf">
	<xs:import
		schemaLocation="santander-type-2.xml"
		namespace="http://schemas.datacontract.org/2004/07/PortalSantander_Wcf" />
	<xs:element name="Test">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="value" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TestResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="TestResult" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRegister">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="strIdentRegNum" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRegisterResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetRegisterResult"
					nillable="true" type="q1:RegisterData"
					xmlns:q1="http://schemas.datacontract.org/2004/07/PortalSantander_Wcf" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFormStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="strIdentRegNum" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFormStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetFormStatusResult"
					nillable="true" type="q2:FormData"
					xmlns:q2="http://schemas.datacontract.org/2004/07/PortalSantander_Wcf" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>