src/main/webapp/WEB-INF/wsdl/santander-type-2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/PortalSantander_Wcf"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/PortalSantander_Wcf">
	<xs:complexType name="RegisterData">
		<xs:sequence>
			<xs:element minOccurs="0" name="Adress" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="BackCardNumber" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="EntityCode" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="EntityName" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="FullName" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="IdentRegNum" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="LastFormDate" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="MifareNumber" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Name" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="OtherNames" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Status" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="StatusCode" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="StatusDate" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="StatusDesc" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Surname" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RegisterData" nillable="true" type="tns:RegisterData" />
	<xs:complexType name="FormData">
		<xs:sequence>
			<xs:element minOccurs="0" name="EntityCode" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="IdentRegNum" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="NDoc" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Status" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="StatusDate" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FormData" nillable="true" type="tns:FormData" />
</xs:schema>